@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {

    background-color: #f8f6f2;
    color: #000000;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
  }
  
  input,
  textarea {
    outline: none;
  }

  img {
    max-width: 100%;
    display: block;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
