* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Team-Bold', 'Helvetica', 'Arial', 'sans-serif';
    background-color: #FAF7F2;
    color: #000000;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
  }
  
  input,
  textarea {
    outline: none;
  }

  img {
    max-width: 100%;
    display: block;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
