.hero {
  width: 100%;
  min-height: 80vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 60px;

  padding: 80px;

  overflow: hidden;
}

.hero__left {

  flex: 0 1 55%;

  display: flex;
  flex-direction: column;

  gap: 25px;

  min-width: 0;

  max-width: 700px;
}

.hero__left h1 {

  display: flex;

  flex-direction: column;

  gap: 6px;

  font-size: clamp(20px, 3.4vw, 58px);

  line-height: 1.05;

  color: #000;

  font-weight: 800;

  width: 100%;

  font-family:"Inter", sans-serif;
}

.hero__left h1 span {
  color: #DB4A2B;
  display: block;
  max-width: 100%;
  overflow-wrap: normal;
}

.hero__left p {
  font-size: 20px;
  line-height: 1.8;

  color: #444;

  max-width: 550px;
}

.hero__left button {
  width: 250px;
  height: 60px;

  background-color: #DB4A2B;
  color: white;

  border-radius: 14px;
  font-weight: bold;
  font-size: 14px;
}

.hero__right {

  flex: 0 1 45%;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 280px;
}

.hero__image {
  width: 500px;
  height: 500px;

  border-radius: 40px;

  background-color: #f1dfd8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__logo {
  border-radius: 40px;
}

@media (max-width: 1200px) {

  .hero {
    padding: 60px 40px;
  }

  .hero__left h1 {
    font-size: 56px;
  }

  .hero__image {
    width: 400px;
    height: 400px;
  }

}

@media (max-width: 900px) {

  .hero {
    flex-direction: column;

    text-align: center;

    padding: 50px 20px;
  }

  .hero__left {
    align-items: center;
  }

  .hero__left h1 {
    font-size: 44px;
  }

  .hero__left p {
    font-size: 18px;
  }

  .hero__image {
    width: 320px;
    height: 320px;
  }

}

@media (max-width: 500px) {

  .hero {

    min-height: auto;

    gap: 40px;

    padding: 40px 18px;
  }

  .hero__left {

    margin-bottom: 15px;

    width: 100%;

    align-items: center;
  }

  .hero__left h1 {

    font-size: clamp(22px, 7vw, 30px);

    line-height: 1.08;

    gap: 6px;

    width: 100%;

    text-align: center;
  }

  .hero__left p {

    font-size: 16px;

    text-align: center;
  }

  .hero__left button {

    width: calc(100% - 20px);

    max-width: 320px;

    margin: 0 auto;

    height: 54px;

    font-size: 15px;
  }

  .hero__right {

    width: 100%;

    display: flex;

    justify-content: center;
  }

  .hero__image {

    width: 100%;

    max-width: 390px;

    height: 370px;

    border-radius: 30px;

    overflow: hidden;

    display: flex;

    align-items: center;

    justify-content: center;
  }

  .hero__logo {

    width: 100%;

    height: 100%;

    object-fit: cover;

    border-radius: 30px;
  }

}