.submit-form__checkbox {
  display: inline-flex;
  align-items: center;

  gap: 10px;

  cursor: pointer;

  width: fit-content;

  position: relative;
}

.submit-form__checkbox input {
  display: none;
}

.submit-form__fake-check {
  width: 18px;
  height: 18px;

  min-width: 18px;

  border: 2px solid #DB4A2B;

  border-radius: 5px;

  background-color: white;

  position: relative;

  transition: 0.2s ease;
}

.submit-form__checkbox input:checked + .submit-form__fake-check {
  background-color: #DB4A2B;
}

.submit-form__checkbox input:checked + .submit-form__fake-check::after {
  content: "";

  position: absolute;

  left: 5px;
  top: 1px;

  width: 4px;
  height: 8px;

  border: solid white;

  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
}

.submit-form__checkbox-text {
  font-size: 15px;

  font-weight: 500;

  color: #222;

  line-height: 1;
}

/* MOBILE */

@media (max-width: 600px) {

  .submit-form__checkbox {
    gap: 8px;
  }

  .submit-form__fake-check {
    width: 16px;
    height: 16px;

    min-width: 16px;
  }

  .submit-form__checkbox input:checked + .submit-form__fake-check::after {
    left: 4px;
    top: 0px;

    width: 3px;
    height: 7px;
  }

  .submit-form__checkbox-text {
    font-size: 14px;
  }

}